#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// hjkl 用 mod-morph 3 ノード(name_morph / name_gui / name_arrow)を生成する
#define ARROW_MORPH(name, tap, arrow)                  \
    name##_morph: name##_morph {                       \
        compatible = "zmk,behavior-mod-morph";         \
        #binding-cells = <0>;                          \
        bindings = <&name##_arrow>, <&name##_gui>;     \
        mods = <(MOD_LGUI)>;                           \
        keep-mods = <(MOD_LGUI)>;                      \
    };                                                 \
    name##_gui: name##_gui {                           \
        compatible = "zmk,behavior-mod-morph";         \
        #binding-cells = <0>;                          \
        bindings = <tap>, <&kp arrow>;                 \
        mods = <(MOD_LALT)>;                           \
        keep-mods = <(MOD_LALT)>;                      \
    };                                                 \
    name##_arrow: name##_arrow {                       \
        compatible = "zmk,behavior-mod-morph";         \
        #binding-cells = <0>;                          \
        bindings = <tap>, <&kp arrow>;                 \
        mods = <(MOD_LCTL|MOD_LALT)>;                  \
        keep-mods = <(MOD_LALT)>;                      \
    };

&mt {
    flavor = "hold-preferred";
    quick-tap-ms = <0>;
    retro-tap;
    retro-tap-timeout-ms = <2000>;
};

&lt {
    retro-tap;
    retro-tap-timeout-ms = <2000>;
};

&msc_input_listener {
    // 速度値(MOVE_UP/DOWN)は大きいまま滑らかさを確保し、
    // ホイール出力を track-remainders 付きで割って移動量だけ小さくする
    input-processors = <&zip_scroll_smooth 1 16>;
};

&msc {
    acceleration-exponent = <1>;     // 0=等速 / 1=等加速度。短押しを控えめにする
    time-to-max-speed-ms = <400>;    // 最高速まで 400ms かけて加速(既定300)
};

/ {
    input_processors {
        // INPUT_REL_WHEEL の端数を切り捨てず累積して滑らかに割る scaler
        zip_scroll_smooth: zip_scroll_smooth {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_WHEEL INPUT_REL_HWHEEL>;
            track-remainders;
        };
    };

    behaviors {
        // hjkl morph into arrows on CTRL/ALT (ctrl masked, alt kept).
        // GUI disables the morph, so gui+ctrl+h stays ⌘⌃h,
        // except alt+gui+h which morphs into alt+gui+← (via _gui).
        ARROW_MORPH(h, &kp H,   LEFT)
        ARROW_MORPH(j, &kp J,   DOWN)
        ARROW_MORPH(k, &kp K,   UP)
        ARROW_MORPH(l, &lt 2 L, RIGHT)

        // ENTER, but while LALT is held it morphs into SPACE
        // so &kp LALT + this key -> ⌥Space
        enter_morph: enter_morph {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&lt 1 ENTER>, <&kp SPACE>;
            mods = <(MOD_LALT)>;
            keep-mods = <(MOD_LALT)>;
        };

        // &enter_morph(位置 42)を物理的に保持している間だけ発火する。
        // &lt 1 SPACE 経由で layer_1 に入った場合は &none になる
        gch_ent: gch_ent {
            compatible = "zmk,behavior-position-morph";
            #binding-cells = <0>;
            bindings = <&none>, <&kp LG(LC(H))>;
            positions = <42>;
        };
        gcl_ent: gcl_ent {
            compatible = "zmk,behavior-position-morph";
            #binding-cells = <0>;
            bindings = <&none>, <&kp LG(LC(L))>;
            positions = <42>;
        };
    };

    combos {
        compatible = "zmk,combos";

        // K + L -> backspace
        combo_backspace {
            timeout-ms = <50>;
            key-positions = <20 21>;
            bindings = <&kp BACKSPACE>;
            layers = <0 1 2 3>;
        };

        // K + L while holding &mo 4 (Fn layer) -> delete
        combo_delete {
            timeout-ms = <50>;
            key-positions = <20 21>;
            bindings = <&kp DELETE>;
            layers = <4>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp TAB     &kp Q  &kp W   &kp E   &kp R     &kp T                                      &kp Y        &kp U     &kp I      &kp O      &kp P      &kp BACKSPACE
&kp LCTRL   &kp A  &kp S   &kp D   &kp F     &kp G                                      &h_morph     &j_morph  &k_morph   &l_morph   &kp SEMI   &none
&kp LSHIFT  &kp Z  &kp X   &kp C   &kp V     &kp B                                      &kp N        &kp M     &kp COMMA  &kp DOT    &kp SLASH  &none
            &mo 4  &none   &none   &kp LALT  &mt LGUI LANG2  &lt 1 SPACE  &enter_morph  &lt 3 LANG1            &kp MINUS  &kp EQUAL
            >;
        };


        layer_1 {
            display-name = "Num";
            bindings = <
&kp GRAVE  &kp N1  &kp N2  &kp N3  &kp N4     &kp N5                             &kp N6    &kp N7          &kp N8        &kp N9    &kp N0    &kp BACKSPACE
&trans     &kp N4  &kp N5  &kp N6  &mkp LCLK  &mkp RCLK                          &gch_ent  &mkp LCLK       &mkp RCLK     &gcl_ent  &kp SQT   &trans
&trans     &kp N7  &kp N8  &kp N9  &trans     &kp LBKT                           &kp RBKT  &msc MOVE_DOWN  &msc MOVE_UP  &trans    &kp BSLH  &trans
           &trans  &kp N0  &trans  &trans     &trans     &kp LSHIFT  &kp RSHIFT  &trans                                  &trans    &trans
            >;
        };


        layer_2 {
            display-name = "Scroll";
            bindings = <
&trans  &trans  &trans  &trans  &trans     &trans                        &trans  &trans     &trans     &trans  &trans  &trans
&trans  &trans  &trans  &trans  &mkp LCLK  &mkp RCLK                     &trans  &mkp LCLK  &mkp RCLK  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans     &trans                        &trans  &trans     &trans     &trans  &trans  &trans
        &trans  &trans  &trans  &trans     &trans      &trans    &trans  &trans                        &trans  &trans
            >;
        };


        layer_3 {
            display-name = "Arrow";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans    &trans    &trans  &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans    &trans    &trans  &trans     &trans  &trans
        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                      &trans     &trans
            >;
        };


        layer_4 {
            display-name = "Fn";
            bindings = <
&kp ESC  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                  &bt BT_CLR  &trans   &trans   &trans   &kp F17  &kp DELETE
&trans   &trans        &trans        &kp F19       &trans        &trans                        &kp F13     &kp F14  &kp F15  &kp F16  &trans   &trans
&trans   &trans        &trans        &trans        &trans        &trans                        &kp F18     &trans   &trans   &trans   &trans   &trans
         &trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans                        &trans   &trans
            >;
        };


        // unused layer (layer_5, 6 are available)
        /*
        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans
            >;
        };
        */
    };
};
